@media (max-width: 414px){ /*Phones*/
    .container{
        width: 100%;
        height: 100%;
    }
    .references__burger{
        margin-top: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin-right: 10px;
    }
    .container__wrapper{
        max-width: 100%;
        height: 100vh;
    }
    .left-side-header-one{
        display: none;
        flex-direction: column;
        left: 6%;
        top: 6%;
        position: absolute;
        align-items: baseline;
    }
    .left-side-header-one a{
        display: flex;
        margin-bottom: 10px;
    }
    .right-side-header-one a{
        display: flex;
    }
    .link-header-three{
        display: none;
    }
    .link-header-two{
        display: none;
    }
    .facultet-info{
        margin-bottom: 20px;
    }
    .facultet-name{
        height: 85%;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .schedule__table{
        height: 228%;
        border: 0.5px solid rgba(102, 102, 102, 0.4);
    }
    .schedule__table tr{
        display: block;
        margin-bottom: 1rem;
    }
    .schedule__table td{
        display: block;
        text-align: left;
    }
    .schedule__table table td::before{
        content: attr(data-label);
        font-weight: bold;
    }
    .schedule__table table td:nth-of-type(1):before { 
        content: "№п/п: "; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        color: #000000;
    }
	.schedule__table table td:nth-of-type(2):before { 
        content: "дисциплина: "; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        color: #000000;
    }
	.schedule__table table td:nth-of-type(3):before {
         content: "ф.и.о. преподавателя: "; 
         font-family: 'Montserrat', sans-serif;
         font-weight: 300;
         color: #000000;
    }
	.schedule__table table td:nth-of-type(4):before {
         content: "дата: "; 
         font-family: 'Montserrat', sans-serif;
         font-weight: 300;
         color: #000000;
    }
	.schedule__table table td:nth-of-type(5):before {
         content: "аудитория: "; 
         font-family: 'Montserrat', sans-serif;
         font-weight: 300;
         color: #000000;
    }
	.schedule__table table td:nth-of-type(6):before {
         content: "время: "; 
         font-family: 'Montserrat', sans-serif;
         font-weight: 300;
         color: #000000;
    }
    .schedule__table table tr{
        margin-bottom: 50px;
        background: rgb(93,84,255);
        background: linear-gradient(90deg, rgba(93,84,255,1) 0%, rgba(210,130,145,1) 0%, rgba(180,180,180,1) 0%, rgba(255,202,135,1) 0%, rgba(154,124,124,1) 100%);
        -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 0.75);
    }
    .schedule__table table tr:first-child{
        display: none;
    }
    .internal-form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .burger{
        display: flex;
        justify-content: flex-end;
    }
    .burger-btn{
        font-size: 40px;
        font-weight: 100px;
    }
    .header-two.show{
        height: 400px;
        transition: 0.5s;
    }
    .header-two{
        transition: 0.5s;
        align-items: flex-start;
        display: flex;
        justify-content: center;
        height: 50px;
    }
    .header-three.show{
        height: 400px;
        transition: 0.5s;
    }
    .header-three{
        transition: 0.5s;
        align-items: flex-start;
        display: flex;
        justify-content: center;
        height: 50px;
    }
    .burger-btn{
        font-family: 'sans-serif';
        text-decoration: none;
        color: #000000;
    }
    .header-one{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 50px;
        transition: 0.5s;
    }
    .header-one.show{
        transition: 0.5s;
        height: 270px;
    }
    .references{
        display: none;
    }
    .left-side-header-one.show{
        display: flex;
    }
    .right-side-header-one{
        display: none;
        flex-direction: column;
        left: 2%;
        top: 20%;
        position: absolute;
        align-items: baseline;
    }
    .right-side-header-one.show{
        display: flex;
    }
    .left-side-header-one{
        margin-bottom: 15px;
    }
    .right-side-header-one a{
        margin-bottom: 10px;
    }
}
@media (max-width: 411px){
    .header-two.show{
        height: 400px;
        transition: 0.5s;
    }
    .header-two{
        transition: 0.5s;
    }
    .header-three.show{
        height: 400px;
        transition: 0.5s;
    }
    .header-three{
        transition: 0.5s;
    }
    .schedule__table{
        height: 218%;
    }
    .schedule__table:last-child{
        margin-bottom: 1%;
    }
    .facultet-name{
        height: 80%;
    }
}
@media (max-width: 375px){
    .header-two.show{
        height: 400px;
        transition: 0.5s;
    }
    .header-two{
        transition: 0.5s;
    }
    .header-three.show{
        height: 400px;
        transition: 0.5s;
    }
    .header-three{
        transition: 0.5s;
    }
    .schedule__table{
        height: 226%;
    }
    .schedule__table:last-child{
        margin-bottom: 1%;
    }
    .facultet-name{
        height: 95%;
    }
}
@media (max-width: 1025px){ /*Ipad*/
    .container{
        width: 100%;
        height: 100%;
    }
    .container__wrapper{
        max-width: 100%;
    }
    .schedule__table{
        height: 238%;
    }
}
@media (max-width: 320px){
    .schedule__table{
        height: 339%;
    }
    .facultet-name{
        height: 110%;
    }
}
@media (max-height: 736px){
    .right-side-header-one{
        display: none;
        flex-direction: column;
        left: 1.7%;
        top: 25%;
        position: absolute;
        align-items: baseline;
    }
}
@media (max-height: 568px){
    .right-side-header-one{
        display: none;
        flex-direction: column;
        left: 1%;
        top: 30%;
        position: absolute;
        align-items: baseline;
    }
    .left-side-header-one{
        top: 9%;
    }
}