@media (max-width: 414px){ /*Phones*/
    .container{
        width: 100%;
        height: 100%;
    }
    .container__wrapper{
        max-width: 100%;
        height: 100vh;
    }
    .left-side-header-one a{
        display: none;
    }
    .right-side-header-one a {
        display: none;
    }
    .link-header-three{
        display: none;
    }
    .link-header-two{
        display: none;
    }
    .facultet-info{
        margin-bottom: 20px;
    }
    .facultet-name{
        height: 100%;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .schedule__table{
        height: 228%;
        border: 0.5px solid rgba(102, 102, 102, 0.4);
    }
    .schedule__table tr{
        display: block;
        margin-bottom: 1rem;
    }
    .schedule__table td{
        display: block;
        text-align: left;
    }
    .schedule__table td::before{
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }
    .internal-form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .burger{
        display: flex;
        justify-content: flex-end;
    }
    .burger-btn{
        font-size: 40px;
        font-weight: 100px;
    }
    .header-two.show{
        height: 400px;
        transition: 0.5s;
    }
    .header-two{
        transition: 0.5s;
        align-items: flex-start;
        display: flex;
        justify-content: center;
        height: 50px;
    }
    .header-three.show{
        height: 400px;
        transition: 0.5s;
    }
    .header-three{
        transition: 0.5s;
        align-items: flex-start;
        display: flex;
        justify-content: center;
        height: 50px;
    }
    .burger-btn{
        font-family: 'sans-serif';
    }
}
@media (max-width: 411px){
    .header-two.show{
        height: 400px;
        transition: 0.5s;
    }
    .header-two{
        transition: 0.5s;
    }
    .header-three.show{
        height: 400px;
        transition: 0.5s;
    }
    .header-three{
        transition: 0.5s;
    }
    .schedule__table{
        height: 230%;
    }
    .schedule__table:last-child{
        margin-bottom: 1%;
    }
    .facultet-name{
        height: 80%;
    }
}
@media (max-width: 375px){
    .header-two.show{
        height: 400px;
        transition: 0.5s;
    }
    .header-two{
        transition: 0.5s;
    }
    .header-three.show{
        height: 400px;
        transition: 0.5s;
    }
    .header-three{
        transition: 0.5s;
    }
    .schedule__table{
        height: 254%;
    }
    .schedule__table:last-child{
        margin-bottom: 1%;
    }
    .facultet-name{
        height: 95%;
    }
}
@media (min-width: 414px) and (max-width: 1025px){ /*Ipad*/
    .container{
        width: 100%;
        height: 100%;
    }
    .container__wrapper{
        max-width: 100%;
    }
}